{{- define "main" }}

<header class="page-header">
    <h1 style="text-align: center;">{{- (printf "%s&nbsp;" .Title ) | htmlUnescape -}}
        <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
    </h1>
    {{- if .Description }}
    <div class="post-description">
        {{ .Description }}
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
        {{- partial "translation_list.html" . -}}
    </div>
    {{- end }}
</header>

<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js"></script>

<div id="search"></div>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({
            element: "#search",
            showSubResults: true,
            translations: {
                placeholder: "{{ .Params.placeholder | default (printf `%s ↵` .Title) }}",
                clear_search: "清除",
                load_more: "加载更多",
                search_label: "搜索",
                filters_label: "筛选",
                zero_results: "没有找到关于 [SEARCH_TERM] 的结果",
                many_results: "找到 [COUNT] 条关于 [SEARCH_TERM] 的结果",
                one_result: "找到 1 条关于 [SEARCH_TERM] 的结果",
                alt_search: "没有找到关于 [SEARCH_TERM] 的结果。显示关于 [DIFFERENT_TERM] 的结果：",
                search_suggestion: "没有找到关于 [SEARCH_TERM] 的结果。请尝试以下搜索之一：",
                searching: "正在搜索 [SEARCH_TERM]..."
            }
        });
    });
</script>

{{- end }}{{/* end main */}}